.nav {
    grid-area: navbar;
    background-color: rgb(154, 151, 163);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    padding: 20px; 
    height: 200px;      
}
.item a {
    color: white;
    text-decoration: none;
    }
.item a.active {
    color: rgb(243, 191, 191);;
}