.app-wrapper {    
    display: grid;
    grid-gap: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    grid-template-columns: 1fr minmax(100px, 150px) minmax(350px, 600px) 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
    "header header header header"      
    ". navbar content ."
    
    /* "footer footer footer footer"; */
    
}   